<li id="email<%=@email.id%>">
<hr><b>Objet: <%= @email.object %></b></br>
Contenu: <%= @email.body %>
<%=link_to '<i class="fas fa-trash-alt"></i>'.html_safe, email_path(@email.id), method: :delete, remote: true, data: { confirm: "Êtes-vous sûr ?" }%>
<%if @email.status==false%>
<a href="#"> Non-lu </a>
<%else%>
<a href="#"> Lu </a>
<%end%>
</li>